<h1>Opis techniczny</h1>

Falowniki serii <strong>PI500</strong> są zaawansowanymi, wysoko wydajnymi, trwałymi i
niezawodnymi falownikami wektorowymi. Dzięki zastosowanej technologii
sterowania wektorowego, pozwalają uzyskać wysoki moment przy niskich
prędkościach obrotowych. Są wyposażone w szereg funkcji zabezpieczających,
które gwarantują niezawodność falowników w długim okresie eksploatacji.
Ze względu na dużą ilość wejść i wyjść sygnałowych, cyfrowe łącze
komunikacyjne i bogatą listę konfigurowalnych funkcji, znakomicie nadają się
do stosowania jako elementy wykonawcze w dużych i złożonych systemach
zasilania i sterowania, ale również mogą pracować samodzielnie, jako
autonomiczne jednostk i sterują cemaszyn i jako elementy
wykonawcze w systemach sterowania prostych linii produkcyjnych.</p><br>

<br>
<h1>Specyfikacja standardowa</h1>
<br>
<table class="table is-striped is-bordered">
	<tr>
		<th>Cecha</th>
		<th>Funkcja</th>
		<th>Specyfikacja</th>
	</tr>
	<tr>
		<td rowspan="3">Zasilanie</td>
		<td>Napięcie nominalne</td>
		<td>AC 3 faz. 400 V (-20%) do 440 V (+10%)</td>
	</tr>
	<tr>
		<td>Częstotliwość nominalna</td>
		<td>50/60 Hz</td>
	</tr>
	<tr>
		<td>Dopuszczalne fluktuacje</td>
		<td>Napięcie wejściowe: +/- 10%, Częstotliwość: +/- 5% Zniekształcenia wg IEC61800-2</td>
	</tr>
	<tr>
		<td rowspan="20">
			System sterowania
		</td>
		<td>
			Sterowanie
		</td>
		<td>
			Wysokowydajne sterowanie wektorem pola oparte na DSP
		</td>
	</tr>
	<tr>
		<td>
			Metody sterowania
		</td>
		<td>
			Sterowanie V/f, wektorowe bez sprzężenia, wektorowe ze sprzężeniem
		</td>
	</tr>
	<tr>
		<td>
			Funkcja automatycznego podbicia momentu	
		</td>
		<td>
			Pozwala uzyskać wysoki moment na wyjściu przy niskich częstotliwościach (1Hz) metodą V/f
		</td>
	</tr>
	<tr>
		<td>
			Przyspieszanie / Zwalnianie
		</td>
		<td>
			Charakterystyka liniowa lub krzywa typu S. Dostępne cztery zestawy czasów w zakresie od 0...6500 s
		</td>
	</tr>
	<tr>
		<td>
			Tryb krzywej V/f
		</td>
		<td>
			Charakterystyka liniowa, kwadratowa/n-potęgowa, predefiniowalna dowolna krzywa V/f
		</td>
	</tr>
	<tr>
		<td>
			Przeciążalność 
		</td>
		<td>
			Typ G prąd 150% przez 1 minutę, prąd 180% przez 2s,<br>Typ F prąd 120% przez 1 minutę, prąd 150% przez 2s
		</td>
	</tr>
	<tr>
		<td>
			Częstotliwość maksymalna  
		</td>
		<td>
			Sterowanie wektorowe - do 320 Hz<br>Sterowanie V/f - 3200 Hz
		</td>
	</tr>
	<tr>
		<td>
			Częstotliwość nośna  
		</td>
		<td>
			0,5 do 16 kHz z automatycznym dostosowaniem częstotliwości do charakterystyki obciążenia
		</td>
	</tr>
	<tr>
		<td>
			Rozdzielczość częstotliwości zadanej  
		</td>
		<td>
			Zadawanie cyfrowe 0,01 Hz<br>Zadawanie analogowe: częstotliwość maksymalna * 0,1 %
		</td>
	</tr>
	<tr>
		<td>
			Moment początkowy
		</td>
		<td>
			Typ G: 0,5Hz/150% (bezczujnikowe sterowanie wektorowe)<br>Typ F: 0,5Hz/100% (bezczujnikowe sterowanie wektorowe)
		</td>
	</tr>
	<tr>
		<td>
			Zakres prędkości 
		</td>
		<td>
		1:100 (bezczujnikowe sterowanie wektorowe)<br>1:1000 (sterowanie wektorowe ze sprzężeniem zwrotnym)
		</td>
	</tr>
	<tr>
		<td>
			Stabilizacja częstotliwości
		</td>
		<td>
			Bezczujnikowe sterowanie wektorowe: <= +/- 0,5% nominalnnej prędkości synchronicznej Sterowanie wektorowe ze sprzężeniem zwrotnym: <= +/- 0,02% nominalnnej prędkości synchronicznej
		</td>
	</tr>
	<tr>
		<td>
			Odpowiedź momentu
		</td>
		<td>
			< 40ms (bezczujnikowe sterowanie wektorowe)
		</td>
	</tr>
	<tr>
		<td>
			Podbicie momentu 
		</td>
		<td>
			Automatyczne podbicie momentu, Stałe podbicie momentu (0,1 do 30%)
		</td>
	</tr>
	<tr>
		<td>
			Hamowanie prądem stałym
		</td>
		<td>
			Częstotliwość hamowania DC: 0,0 Hz do częstotliwości maksymalnej<br>Czas hamowania: 0,0 do 100,0 sekund<br>Wartość prądu hamowania: 0,0 do 100%
		</td>
	</tr>
	<tr>
		<td>
			Sterowanie JOG 
		</td>
		<td>
			Zakres częstotliwość JOG: 0,0 Hz do częstotliwości maksymalnej<br>Rozpędzanie / Zwalnianie JOG: 0,0 s. Do 6500 s
		</td>
	</tr>
	<tr>
		<td>
			Częstotliwości predefiniowalne
		</td>
		<td>
			16 predefiniowalnych prędkości dostępnych przez listwę zaciskową
		</td>
	</tr>
	<tr>
		<td>
			Wbudowany regulator PID
		</td>
		<td>
			System sterowania parametrów procesu realizowany jest za pomocą wbudowanego regulatora PID
		</td>
	</tr>
	<tr>
		<td>
			Automatyczna regulacja napięcia (AVR)
		</td>
		<td>
			Automatyczne utrzymanie wartości napięcia wyjściowego przy przy zmianach wartości napięcia zasilającego
		</td>
	</tr>
	<tr>
		<td>
			Ograniczenie momentu i sterowanie
		</td>
		<td>
			Moment jest automatycznie ograniczany podczas pracy w celu zabezpieczenia przed ewentualnymi wyłączeniami nadprądowymi. Do kontroli momentu używany jest wektorowy tryb sterowania ze sprzężeniem zwrotnym
		</td>
	</tr>
	<tr>
		<td rowspan="3">
			Funkcje własne
		</td>
		<td>
			Samokontrola obwodów wyjściowych po zasileniu
		</td>
		<td>
			Po włączeniu zasilania falownik sprawdza obwody wejściowe pod kątem doziemienia, zwarć itp..
		</td>
	</tr>
	<tr>	
		<td>
			Szybkie ograniczenie prądu
		</td>
		<td>
			Dla ograniczenia prawdopodobieństwa wystąpienia nadmiernego prądu i poprawienia zdolności zapobiegania zakłóceniom, zastosowano algorytmy ograniczające prąd wyjściowy
		</td>
	</tr>
	<tr>	
		<td>
			Funkcje kontroli czasu 
		</td>
		<td>
			Falownik wyposażony jest w funkcje kontroli czasu pracy i czasu pozostawania z włączonym zasilaniem. Zakres ustawień 0 do 65000 minut
		</td>
	</tr>
	<tr>
		<td rowspan="7">
			Sygnały wejścia
		</td>	
		<td>
			Źródło sterowania 
		</td>
		<td>
			Klawiatura / listwa zaciskowa / port komunikacyjny
		</td>
	</tr>
	<tr>
		<td>
			Zadawanie częstotliwości
		</td>
		<td>
			Dostępnych jest 8 źródeł zadawania częstotliwości, wśród nich wejścia analogowe DC (0...10 V, 0/4...20 mA), pokrętło na klawiaturze, sygnały dwustanowe na listwie zaciskowej Napięcia wejściowego: +/- 10%
		</td>
	</tr>
	<tr>
		<td>
			Rodzaje sygnału startu 
		</td>
		<td>
		"Obroty do przodu", "obroty do tyłu", "zmiana obrotów"
		</td>
	</tr>
	<tr>
		<td>
			Prędkości predefiniowalne
		</td>
		<td>
			Można ustawić 16 predefiniowalnych prędkości wybieranych sygnałami z wejść dwustanowych DI lub z poziomu programowania falownika 
		</td>
	</tr>
	<tr>
		<td>
			Stop bezpieczeństwa
		</td>
		<td>
			Podanie sygnału zdefiniowanego jako "STOP bezpeczeństwa" powoduje natychmiastowe zatrzymanie falownika z odcięciem napięcia wyjściowego 
		</td>
	</tr>
	<tr>
		<td>
			Kasowanie błędów
		</td>
		<td>
			Jeśli funkcja jest aktywna, komunikaty błędów mogł być kasowane ręcznie lub automatycznie
		</td>
	</tr>
	<tr>
		<td>
			Sprzężenie zwrotne regulatora PID
		</td>
		<td>
			Sygnał sprzężenia zwrotnego regulatora PID może być doprowadzony do falownika na wejście analogowe 0...10 V lub 0/4...20 mA lub dwustanowe. Pozwala to na realizację autonomicznych układów regulacji procesów technologicznych
		</td>
	</tr>
	<tr>
		<td rowspan="4">
			Sygnały wyjściowe
		</td>
		<td>
			Wyjście sygnalizacji pracy
		</td>
		<td>
			Sygnalizuje stan pracy silnika: zatrzymanie, rozpędzanie, zwalnianie, prędkość ustaloną, etap pracy programu
		</td>
	</tr>
	<tr>
		<td>
			Wyjście przekaźnikowe
		</td>
		<td>
			Parametry wyjść: styk normalnie zwarty 7A 250VAC
		</td>
	</tr>
	<tr>
		<td>
			Wyjście analogowe
		</td>
		<td>
			Jedno wyjście analogowe. Można zaprogramować jeden z 16-tu sygnałów wyjściowych takich jak częstotliwość, prąd, napięcie i inne. Standard elektryczny 0...10 V, 0...20 mA
		</td>
	</tr>
	<tr>
		<td>
			Wyjście dwustanowe
		</td>
		<td>
			Jedno wyjście dwustanowe. Na którym można zaprogramować jeden z 40-stu sygnałów wyjściowych
		</td>
	</tr>
	<tr>
		<td rowspan="6">
			Praca
		</td>
		<td>
			Funkcje podczas pracy
		</td>
		<td>
			Podczas pracy dostępne są takie funkcje jak ograniczenie częstotliwości, przeskok częstotliwości, kompensacja częstotliwości, automatyczny dobór parametrów silnika regulacja PID
		</td>
	</tr>
	<tr>
		<td>
			Hamowanie prądem stałym DC
		</td>
		<td>
			Wbudowany regulator hamowania prądem stałym pozwala zatrzymać silnik o dużej inercji bez przeciążenia falownika
		</td>
	</tr>
	<tr>
		<td>
			Źródła zadawania parametrów
		</td>
		<td>
			Są trzy źródła zadawania parametrów: panel operatorski, listwa zaciskowa i port komunikacyjny RS485. Kanały te mogą być przełączane na wiele sposobów
		</td>
	</tr>
	<tr>
		<td>
			Źródło częstotliwości zadanej
		</td>
		<td>
			Jest 5 źródeł częstotliwości zadanej: zadawanie cyfrowe, wejście analogowe (0..10 V, 0...20 mA), wejście dwustanowe (wybór prędkości predefiniowalnych), port komunikacyjny RS485. Kanały te mogą być przełączane na wiele sposobów
		</td>
	</tr>
	<tr>
		<td>
			Wejścia sygnałowe
		</td>
		<td>
			7 wejść dwustanowych DI dla sygnałów PNP lub NPN, jedno z nich jest szybkim wejściem impulsowym (0...100 kHz dla fali prostokątnej)<br>1 wejście analogowe dla sygnałów 0...10 V lyb 0...20 mA
		</td>
	</tr>
	<tr>
		<td>
			Wyjścia sygnałowe
		</td>
		<td>
			1 przekaźnikowe wyjście dwustanowe DO OC<br>1 wyjście analogowe dla sygnałów 0...10 V lyb 0...20 mA, pozwalające na wyprowadzenie np częstotliwości zadanej lub wyjściowej, prędkości i wielu innych parametrów falownika
		</td>
	</tr>
	<tr>
		<td rowspan="4"> Funkcje bezpieczeństwa</td>
		<td>
			Zabezpieczenie elektryczne falownika
		</td>
		<td>
			Falownik zabezpieczony jest m..in. w zabezpieczenia nadprądowe, nadnapięciowe, podnapięciowe, przeciążeniowe, termiczne, ziemnozwarciowe, błędu komunikacji na RS485 itp.
		</td>
	</tr>
	<tr>
		<td>
			Pomiar temperatury IGBT
		</td>
		<td>
			Falownik wyświetla i kontroluje bieżącą temperaturę modułu IGBT. Przekroczenie temperatury dozwolonej skutkuje zatrzymaniem falownika
		</td>
	</tr>								
	<tr>
		<td>
			Reakcja na zanik zasilania
		</td>
		<td>
			Przerwa poniżej 15 ms - kontynuacja pracy, powyżej 15 ms - możliwa autodetekcja prędkości silnika i natychmiastowy restart na żądanie
		</td>
	</tr>								
	<tr>
		<td>
			Ochrona parametrów falownika
		</td>
		<td>
			Dostęp do parametrów konfiguracyjnych falownika zabezpieczony jest możliwością ustalenia hasła dostępowego administratora
		</td>
	</tr>							
	<tr>
		<td rowspan="7">Parametry środowiskowe</td>
		<td>
			Temperatura pracy
		</td>
		<td>
			-10 stC do +40 stC
		</td>
	</tr>
	<tr>
		<td>
			Temperatura pracy
		</td>
		<td>
			-20 stC do +65 stC
		</td>
	</tr>
	<tr>
		<td>
			Wilgotność
		</td>
		<td>
			Poniżej 90% R.H bez kondensacji
		</td>
	</tr>
	<tr>
		<td>
			Wibracje
		</td>
		<td>
			Poniżej 5,9 m./s2 (=0,6g)
		</td>
	</tr>
	<tr>
		<td>
			Zabudowa
		</td>
		<td>
			Wewnątrz obudowy lub w pomieszczeniu, w miejscu wolnym od bezpośredniego działania promieni słonecznych, korodujących i wybuchowych gazów, pary wodnej, kurzu, gazów i mgieł palnych, mgieł oleju, skroplin lub soli itp.
		</td>
	</tr>
	<tr>
		<td>
			Wysokość
		</td>
		<td>
			Poniżej 1000 m. npm
		</td>
	</tr>
	<tr>
		<td>
			Stopień ochrony
		</td>
		<td>
			IP20
		</td>
	</tr>
</table>			