<!DOCTYPE html>
<html>
	<head>
    	<% include ../public/parts/head %>
	</head>
	<body>
		<div class="tile is-ancestor is-vertical">
			<header class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/topLabel %>
					<% include ../public/parts/mainMenu %>
					<div class="is-hidden-touch">
						<% include ../public/parts/mainMenuSlider %>
					</div>
					<div class="is-hidden-desktop">
						<% include ../public/parts/mainMenuSliderMobile %>
					</div>
				</div>
			</header>
		</div><!--ancestor-->
		

		<%include ../public/parts/breadcrumb%>
		
		<div class="container">
			<div class="tile is-ancestor">
				<div class="tile is-10">
					
					<div class="tile is-parent">
						<div class="tile is-child">
							<div class="columns is-multiline">
								<%for(let i of render.cards){%>
								<a href="<%=i.path%>" class="column is-flex is-3 is-half-tablet">	
									<div class="card">
										<figure class="image">
											<img src="<%=i.image%>"/>
										</figure>
										<h1><%=i.title%></h1>
										<h2><%-i.subtitle%></h2>
										<div class="arrow">></div>
									</div>
								</a>
								<%}%>
							</div>
						</div>
					</div>
			
				</div>
				<div class="tile is-2">
					<% include ../public/parts/news %>
				</div>
			</div>
		</div>

		<div class="tile is-ancestor is-vertical" style="margin-top: 25px">
			<footer class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/footer %>
				</div>
			</footer>
		</div>
	</body>
</html>
