<!DOCTYPE html>
<html>
	<head>
    	<% include ../public/parts/head %>
	</head>
	<body>
		<div class="tile is-ancestor is-vertical">
			<header class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/topLabel %>
					<% include ../public/parts/mainMenu %>
					<div class="is-hidden-touch">
						<% include ../public/parts/mainMenuSlider %>
					</div>
					<div class="is-hidden-desktop">
						<% include ../public/parts/mainMenuSliderMobile %>
					</div>
				</div>
			</header>
		</div><!--ancestor-->
		
		<div class="container">
			<div class="tile is-ancestor has-background-grey-lighter">
				<div class="tile is-8">
					
					<div class="tile is-parent is-vertical">
						<div class="tile is-child download">
							<h1 class="title">Pliki do pobrania</h1>
							<ul>
								<%for(let i of render.download){%>
									<li class="">		
										<a href="<%=i.path%>">
											<div class="columns">
												<div class="column is-4"><%=i.date%></div>
												<div class="column is-4"><span class="important"><%=i.name%></span></div>
												<div class="column is-4"><i class="fas fa-file-download"></i></div>
											</div>
										</a>
									</li>
								<%}%>
							</ul>
						</div>
					</div>
				
				</div>
				<div class="tile is-4">
					<% include ../public/parts/news %>
				</div>
			</div>
		</div>

		<div class="tile is-ancestor is-vertical" style="margin-top: 25px">
			<footer class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/footer %>
				</div>
			</footer>
		</div>
	</body>
</html>
