<!DOCTYPE html>
<html>
	<head>
    	<% include ../public/parts/head %>
	</head>
	<body>

		<div class="tile is-ancestor is-vertical">
			<header class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/topLabel %>
					<% include ../public/parts/mainMenu %>
					<div class="is-hidden-touch">
						<% include ../public/parts/mainMenuSlider %>
					</div>
					<div class="is-hidden-desktop">
						<% include ../public/parts/mainMenuSliderMobile %>
					</div>
				</div>
			</header>
		</div><!--ancestor-->
	
		<!--<div class="has-background-grey-lighter page">
			<div class="container">
				<main class="is-ancestor tile is-vertical">
					<% include ../public/parts/index/productSlider %>
				</main>
			</div>
		</div>
		-->
	

		<div class="has-background-white page">
			<div class="container">
				<main class="is-ancestor tile is-vertical">
					<% include ../public/parts/index/whyus %>
				</main>
			</div>
		</div>

		<div class="has-background-grey-lighter page">	
			<div class="container">
				<main class="is-ancestor tile is-vertical">
					<% include ../public/parts/index/mailer %>
				</main>
			</div>
		</div>
		
		<div class="has-background-white page">
			<div class="container">
				<main class="is-ancestor tile is-vertical">
					<div class="tile">
						<div class="tile is-8">
							<% include ../public/parts/index/about %>
						</div>
						<div class="tile is-4 is-parent">
							<div class="tile is-child">
								<% include ../public/parts/news %>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>

		<div class="tile is-ancestor is-vertical">
			<footer class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/footer %>
				</div>
			</footer>
		</div>
	</body>
</html>
