<!DOCTYPE html>
<html>
	<head>
    	<% include ../public/parts/head %>
	</head>
	<body>
		<div class="tile is-ancestor is-vertical">
			<header class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/topLabel %>
					<% include ../public/parts/mainMenu %>
					<div class="is-hidden-touch">
						<% include ../public/parts/mainMenuSlider %>
					</div>
					<div class="is-hidden-desktop">
						<% include ../public/parts/mainMenuSliderMobile %>
					</div>
				</div>
			</header>
		</div><!--ancestor-->
		
		

		<div class="container">
			<div class="tile is-ancestor">
				<div class="tile is-8">
					
					<div class="tile is-parent">
						<div class="tile is-child">
							<div class="columns is-multiline">

								<a href="catalog" class="column is-flex is-3 is-half-tablet">
									<div class="card">
										<figure class="image">
											<img src="/images/inverter2.png"/>
										</figure>
										<h1 class="title">Katalog</h1>
										<h1 class="subtitle">nasza oferta...</h1>
										<div class="arrow">></div>
									</div>
								</a>
								<a href="/prices" class="column is-flex is-3 is-half-tablet">
									<div class="card">
										<figure class="image">
											<img src="/images/inverter2.png"/>
										</figure>
										<h1 class="title">Cennik</h1>
										<h1 class="subtitle"></h1>
										<div class="arrow">></div>
									</div>
								</a>
								
								<a href="/download" class="column is-flex is-3 is-half-tablet">	
									<div class="card">
										<figure class="image">
											<img src="/images/inverter2.png"/>
										</figure>
										<h1 class="title">Pobierz</h1>
										<h1 class="subtitle">katalogi, instrukcje...</h1>
										<div class="arrow">></div>
									</div>
								</a>
							</div>
						</div>
					</div>
				
				</div>
				<div class="tile is-4">
					<% include ../public/parts/news %>
				</div>
			</div>
		</div>

		<div class="tile is-ancestor is-vertical">
			<footer class="tile is-parent">
				<div class="tile is-child">
					<% include ../public/parts/footer %>
				</div>
			</footer>
		</div>
	</body>
</html>
