body
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: #00B7FF


.topLabel
	color: white
	background-color: $black
	font-weight: $strong-weight
	text-align: right
	padding-top: 10px
	padding-bottom: 10px

figure
	img.fullwidth
		width: 100%