
<div class="tile is-parent is-8">
	<div class="tile is-child">
		<h1 class="title">Krótko o powtranie</h1>
		<p >POWTRAN Technology Co. Ltd., od z górą 30 lat, jest obecnym na rynkach światowych, renomowanym producentem urządzeń napędowych takich jak przetwornice częstotliwości, urządzenia łagodnego rozruchu SoftStart, serwomotory, napędy do silników z magnesami trwałym, dławiki sieciowe i silnikowe, filtry przeciwzakłóceniowe i wiele innych. Wyroby firmy POWTRAN są obecne w ponad 100 krajach na świecie, w tym od ponad 10 lat w Polsce.</p>
		<p>Jako POWTRAN-Polska Sp. z o.o. jesteśmy obecni na polskim rynku, jako jedyny i wyłączny przedstawiciel POWTRAN Technology Co., Ltd w Polsce, praktycznie od samego początku obecności wyrobów firmy POWTRAN w Polsce.</p>
	</div>
</div>
<div class="tile is-parent is-4">
	<div class="tile is-child">
		<figure class="image">
			<img src="images/inverters1.png" />
		</figure>
	</div>
</div>