
<div class="tile is-vertical about">
	<div class="tile">
		<div class="tile is-parent is-8">
			<div class="tile is-child tile-content">
				<div class="has-border-left has-border-top article">
					<h1 class="title">Krótko o powtranie</h1>
					<p><span class="important">POWTRAN Technology Co. Ltd.</span>, od ponad 30 lat, jest obecnym na rynkach światowych, renomowanym producentem urządzeń napędowych takich jak przetwornice częstotliwości, urządzenia łagodnego rozruchu SoftStart, serwomotory, napędy do silników z magnesami trwałym, dławiki sieciowe i silnikowe, filtry przeciwzakłóceniowe i wiele innych. Wyroby firmy <span class="important">POWTRAN</span> są obecne w ponad 100 krajach na świecie, w tym od ponad 10 lat w Polsce.</p>
					<p>Jako <span class="important">POWTRAN-Polska Sp. z o.o.</span> jesteśmy obecni na polskim rynku, jako jedyny i wyłączny przedstawiciel POWTRAN Technology Co., Ltd w Polsce, praktycznie od samego początku obecności wyrobów firmy <span class="important">POWTRAN</span> w Polsce.</p>
				</div>
			</div>
		</div>
		<div class="tile is-parent is-4">
			<div class="tile is-child">
				<figure class="tile-content image">
					<img src="images/inverters1.png" />
				</figure>
			</div>
		</div>
	</div>
</div>
