<div class="wrapper mailer">
	<div class="tile is-parent">
		<div class="tile is-child">
			<header class="title-container">
				<h1 class="title">Skontaktuj się z nami</h1>
				<h2 class="subtitle">Skorzstaj z formularza...</h2>
			</header>
		</div>
	</div>

	<div class="tile">
		<div class="tile is-parent">
			<div class="tile is-child">
				<figure class="image image_2-3_bg is-3by2">
					<img src="images/mailer.png"/>
				</figure>
			</div>
		</div>
		<div class="tile is-parent moved-50p-left-mobile" >
			<div class="tile is-child">
				<div class="tile-content moved-50p-left-mobile-content">
					<%include ../messanger%>
				</div>
			</div>
		</div>
	</div>
</div>