
<div class="wrapper whyus">
	<div class="tile is-parent">
		<div class="tile is-child">
			<header class="title-container">
				<h1 class="title">Dlaczgo my?</h1>
				<h2 class="subtitle">Kilka słów o nas...</h2>
			</head>
		</div>
	</div>

	<div class="tile">
		<div class="tile is-parent">
			<div class="tile is-child">
				<figure class="image image_2-3_bg is-3by2">
					<img src="images/whyus.png"/>
				</figure>
			</div>
		</div>
		<div class="tile is-parent moved-50p-left-mobile">
			<div class="tile is-child">
				<div class="tile-content moved-50p-left-mobile-content">
					<p>
					Systematycznie rozwijana i unowocześniana oferta oraz rozwijająca się sieć dystrybucyjna, pozwalają oferować wysokiej jakości urządzenia, charakteryzujące się wysokim zaawansowaniem technicznym oraz niezawodnym działaniem w długim okresie eksploatacji. 
			Tysiące sprzedanych falowników i innych urządzeń oraz zadowolenie setek klientów potwierdzają wysoką jakość oferowanych urządzeń i pozwalają umacniać pozycję marki POWTRAN na polskim rynku.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>