
<div class="wrapper whyus">
	<div class="tile is-parent">
		<div class="tile is-child">
			<header class="title-container">
				<h1 class="title">Dlaczgo my?</h1>
				<h2 class="subtitle">Kilka słów o nas...</h2>
			</head>
		</div>
	</div>

	<div class="tile">
		<div class="tile is-parent">
			<div class="tile is-child">
				<figure class="image image_2-3_bg is-3by2">
					<img src="images/whyus.png"/>
				</figure>
			</div>
		</div>
		<div class="tile is-parent moved-50p-left-mobile">
			<div class="tile is-child">
				<div class="tile-content moved-50p-left-mobile-content">
					<div class=" has-border-right has-border-top article">
						<p>
							Systematycznie rozwijana i unowocześniana oferta oraz rozwijająca się sieć dystrybucyjna, pozwalają oferować <span class="important">wysokiej jakości urządzenia</span>, charakteryzujące się wysokim zaawansowaniem technicznym oraz <span class="important">niezawodnym działaniem w długim okresie eksploatacji</span>. 
						Tysiące sprzedanych falowników i innych urządzeń oraz zadowolenie setek klientów potwierdzają wysoką jakość oferowanych urządzeń i pozwalają umacniać pozycję marki <span class="important">POWTRAN</span> na polskim rynku.
						</p>
					</div>
					<br>
					<div class="has-border-left has-border-bottom article content">
						<span class="important">Dostarczamy</span>:
						<ul>
							<li>falowniki jednofazowe i trójfazowe w zakresie mocy 500 W do 630 kW</li>
							<li>układy łagodnego rozruchu - SoftStart</li>
							<li>dławiki sieciowe i silnikowe, filtry EMI, rezystory hamowania i inne akcesoria</li>
							<li>inną aparaturę elektryczną i urządzenia AKPiA</li>
						</ul>
						<span class="important">Oferujemy</span>:
						<ul>
							<li>dostawę urządzeń</li>
							<li>doradztwo w zakresie doboru, aplikowania i obsługi urządzeń</li>
							<li>systemy automatyzacji maszyn i procesów przemysłowych i technologicznych</li>
							<li>w ramach usług wykonujemy projekt, realizację, rozruch i serwis oferowanych systemów</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>