<div class="wrapper mainMenuSlider">
	<figure>
		<img class="fullwidth" src="<%=render.mainBanner%>">
	</figure>
	
	<div class="buttons">
		<button class="arrow prev"><</button>
		<button class="arrow next">></button>
	</div>

</div>