<div class="tile is-parent is-vertical has-background-grey-lighter">
		<h1 class="title">Aktualności</h1>
	<div class="tile is-child news">
		<div class="news-container tile-content">
			<%for(let i in render.news){%>
				<div class="news-header-container">
					<h3 class="news-title"> <%=render.news[i].title%></h3>
					<h4 class="news-subtitle">Dodano: <span class="important"><%=render.news[i].date%></span></h4>
					<hr class="is-marginless">
					<div class="image-container">
						<figure class="image">
							<img src="<%=render.news[i].mainImage%>" />
						</figure>	
					</div>	
				</div>

				<p class="has-text-justified"> <%-render.news[i].brief%></p><br>
				
			<%}%>
		</div>
	</div>
</div>