<div class="tile is-parent is-vertical has-background-grey-lighter">
	<div class="tile is-child smallMessage">
		<h1 class="title">Skontaktuj się z nami!</h1>
		<a href="/contact" class="button is-danger is-outlined" style="width: 100%">Kontakt</a>
		
		<br>
		<br>

		<%include messanger%>

	</div>
</div>